@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,100&family=Montserrat:ital,wght@0,100;0,600;1,400&family=Poppins:ital@1&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%,
     #f5f7fa 74%);
     display: flex;
     align-items: center;
     justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 100vh;
}

.quiz-container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
    overflow: hidden;
    width: 500px;
    max-width: 100%;
}

.quiz-header{
    padding: 4rem ;
}

h2{
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

ul li label{
    cursor: pointer;
}

button{
    background-color: purple;
    border: none;
    cursor: pointer;
    display: block;
    align-items: center;
    color: white;
    font-family: inherit;
    width: 100%;
    padding: 1rem;
}

button:hover{
    background-color: #800070;

}

button:focus {
    background-color: #800090;
    outline: none;
}